name: Linters

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    code-style:
        runs-on: ubuntu-latest
        env:
            PHP_CS_FIXER_IGNORE_ENV: 1
        steps:
            - uses: actions/checkout@v5

            - name: Setup PHP with extensions
              uses: shivammathur/setup-php@v2

            - uses: "ramsey/composer-install@v3"

            - name: Run PHP CS Fixer
              run: ./vendor/bin/php-cs-fixer fix --diff --dry-run

    phpstan:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Setup PHP with extensions
              uses: shivammathur/setup-php@v2

            - name: Validate composer.json and composer.lock
              run: composer validate

            - uses: "ramsey/composer-install@v3"

            - name: Run PHPStan
              run: ./vendor/bin/phpstan analyse