name: Tests

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-versions: [ '8.3', '8.4', '8.5' ]

        steps:
            - uses: actions/checkout@v6

            - name: Setup PHP with extensions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-versions }}

            - uses: "ramsey/composer-install@v3"

            - name: Run test suite
              run: ./vendor/bin/phpunit